.commentBody
{

   border-bottom: 1px solid rgb(196, 184, 184);
   padding-top: 2px;
  

}

.commentArea
{
  text-align: left;
  white-space: pre-line;
  
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}
.name
{
    
   
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    text-align: left;
    position: relative;

   


}

.date
{

    font-size: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    position: relative;
    top: 50%;
    left: 10%;
   


}

.profile {
  height: 25px;
  width: 30px;
  object-fit: contain;
  -webkit-mask-image: radial-gradient(circle, black 25%, rgba(0, 0, 0, 0) 20%);
  mask-image: radial-gradient(circle, black 20%, rgba(0, 0, 0, 0) 60%);

}