.card {
    
    width: 100%;
    margin-top: 3%;
}

.button {
   background-color: rgb(186, 215, 204);
}

.input {
    margin-top: 20px;
}

.icon:hover {
    color:rgb(3, 125, 19);
}

.approved {
    color:rgb(3, 125, 19);
}

.profile {
    width:20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
 
  }

  .creator {
    padding-left: 8px;;
  }